[build]
  command = "npm run build"
  publish = "."
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "18"
  NETLIFY_FORCE_FUNCTIONS_NODE_VERSION = "18"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["firebase-admin", "razorpay"]
  included_files = ["youtube.html"]

[[redirects]]
from = "/youtube"
to = "/.netlify/builders/youtube-odb"
status = 200
force = true

[[redirects]]
from = "/youtube.html"
to = "/.netlify/builders/youtube-odb"
status = 200
force = true

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

  [[redirects]]
  from = "/*.html"
  to = "/:splat"
  status = 301
  force = true

  # Custom 404 Page
  [[redirects]]
    from = "/*"
    to = "/404.html"
    status = 404
    force = false
